body {
    font-family: Arial, sans-serif;
    background-color: #333;
  }
  
  .container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
  
  .featured-shows,
  .genres {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .featured-shows h2,
  .genres h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .featured-shows li,
  .genres li {
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .featured-shows img,
  .genres img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .featured-shows p,
  .genres p {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
